<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/assets/styles/dashboard.css" />
  </head>
  <body>
    <div class="greeting">
      <h1 class="welcome"></h1>
    </div>
   <div>
     <h3>
       Add some cash to your account 
     </h3>
   </div>

    <form method="post" action="http://localhost:8000/logout">
      <button type="submit">Logout</button>
    </form>
    <script type="module" src="assets/scripts/dashboard.js"></script>
  </body>
</html>
