<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Express Session</title>
    <link rel="stylesheet" href="assets/styles/login.css" />
  </head>
  <body>
    <form>
      <h1>Login</h1>
      <input
        type="email"
        placeholder="Email"
        required="true"
        name="email"
        id="email"
      />
      <input
        type="password"
        placeholder="Password"
        id="password"
        name="password"
      />
      <button type="submit">Submit</button>
    </form>
    <script type="module" src='/assets/scripts/login.js'></script>
  </body>
</html>
