<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/user.css" />
    <title>Profile</title>
  </head>
  <body>
    <i class="loader --1"></i>
    <div class="wrapper">
      <div class="content">
        <div class="photo"></div>
        <div class="name">
          <div class="username"></div>
          <button class="btn"><a class="btn-link">Follow</a></button>
        </div>
        <div class="email"></div>
      </div>
    </div>
    <script type="module" src="assets/scripts/user.js"></script>
  </body>
</html>
